<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<div class="spacer-3"></div>
<div class="container-fluid bg-light">
    <div class="container w-50percent padding-2em">
<h3>Links</h3>
<p>
    <a href="https://github.com/">Github</a><br>
    <a href="https://heroku.com/">Heroku</a><br>
    <a href="https://getbootstrap.com/">Bootstrap</a><br>
    <a href="https://expressjs.com/">Javascript Express Framework</a><br>
    <a href="https://code.visualstudio.com/">Visual Studio Code editor</a><br>
</p>
    </div>
</div>
<div id="footer" class="container-fluid bg-dark">
    <p class="text-white text-center">NodeJS - Mandatory Assignment 1</p>
</div>
</body>
</html>